* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  cursor: pointer;
}
body {
  background: #ffffff;
  color: #333333;
  width: 100vw;
  height: 100vh;
}

.wrap {
  width: 100%;
  height: calc(100% - 120px);
  display: flex;
  z-index: 10;
}

/* header */
header {
  width: 200px;
  height: 100%;
}
header h1 {
  padding: 45px 0;
}
nav {
  width: 180px;
}
.depth1 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.depth1 > li {
  padding: 20px 0;
  position: relative;
  background-color: rgba(255, 227, 73, 0.5);
  border-bottom: #ffffff 1px solid;
}
.depth1 > li:hover {
  background: #ffe349;
}
.depth1 > li:hover > .depth2 {
  width: 80%;
}
.depth2 {
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(238, 238, 238, 0.95);
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100%;
  width: 0;
  transition: all 0.3s;
}
.depth2 li {
  padding: 15px 20px;
  width: 100%;
}
.depth2 li:hover {
  background: #ffe349;
  border-bottom: #ffffff 1px solid;
  text-decoration: underline;
}

/* contents */
.contents {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contents strong {
  font-size: 12px;
}

.banner {
  width: 100%;
  height: 135px;
  margin: 0;
}

/* tabs */
.tabs-wrap {
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  margin-top: 0;
}
.tabs {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.tab {
  position: absolute;
  width: 100%;
}
.tab-tit {
  padding: 10px;
  float: left;
}
.tit-gal {
  position: absolute;
  left: 92px;
}
.tabs ul {
  padding: 13px 0px;
  position: absolute;
  top: 44px;
  display: flex;
  gap: 15px;
  background: #ffffff;
  border-top: #333333 1px solid;
}
.tabs .active ul {
  display: block;
  top: 44px;
  left: 0;
}
.tabs .active .list-gal {
  padding: 20px 10px;
  display: flex;
}

.contents h2 {
  cursor: pointer;
  font-size: 18px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.tabs .active h2 {
  color: #ffffff;
  background: #333333;
}

/* notice, gallery */
.list-bbs {
  padding: 10px 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.list-bbs li {
  width: 100%;
  padding: 7px 0;
}
.list-bbs a {
  display: flex;
  justify-content: space-between;
}
.list-bbs span {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list-bbs em {
  font-size: 14px;
  color: gray;
}

.gallery ul {
  display: none;
  height: 262px;
}
.gallery li {
  width: 100%;
  height: 70%;
  margin: 0;
  text-align: center;
}
.gallery a {
  width: 100%;
  height: 80%;
  display: block;
}
.goto {
  padding-bottom: 30px;
}
.goto ul {
  padding: 20px 15px;
  display: flex;
  gap: 20px;
}
.goto li {
  width: 100%;
  margin: 0;
  text-align: center;
}
.goto a {
  width: 100%;
  height: 85%;
  display: block;
}

/* slide */
.slide {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.slide ul {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 300%;
  height: 100%;
  transition: left 0.3s;
}

.slide li {
  width: 100%;
  height: 100%;
}

.slide img {
  display: block;
}

/* footer */
footer {
  background: gray;
  height: 120px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
footer h1 {
  width: 200px;
}
footer h1 img {
  object-fit: contain;
  filter: grayscale(100%);
}
footer .copyright {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  font-size: 14px;
  text-align: left;
}
footer ul {
  display: flex;
  margin-left: 0;
  gap: 30px;
  text-decoration: underline;
}
footer .familysite {
  width: 200px;
}

/* modal */
.modal-wrap {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  justify-content: center;
  align-items: center;
  display: none;
  /* display: flex; */
}

.modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
  border-radius: 20px;
  background: #ffffff;
}

.modal-box strong {
  padding-top: 20px;
  font-size: 24px;
}
.modal-box p {
  width: 80%;
}
.modal-box button {
  margin-bottom: 40px;
  width: 50px;
  height: 30px;
}
